
<div class="post-box article">
  <h2>HAGGAI<br />
  A MATTER OF PRIORITIES</h2>
  <br />
  <p>The short prophecy of Haggai was given by God around 520 B.C. Earlier in that century, as a result of
  their disobedience and faithlessness toward the Lord, Israel had been taken captive into Babylon. Some years later,
  by God’s grace, a remnant was allowed to return to their land and rebuild. However, after initial faithfulness in
  rebuilding the walls of Jerusalem and beginning work on the temple, the people had now left off that work. Instead,
  they were focusing on their own concerns. Through the prophet Haggai, the Lord calls upon them to consider their
  ways.
  <%= link_to 'Continue reading...', articles_one_path %></p>
</div>