
<div class="post-box article">
  <h1>HAGGAI</h1><br />
  <h2>A MATTER OF PRIORITIES</h2>
  <br />
  <p>The short prophecy of Haggai was given by God around 520 B.C. Earlier in that century, as a result of
  their disobedience and faithlessness toward the Lord, Israel had been taken captive into Babylon. Some years later,
  by God’s grace, a remnant was allowed to return to their land and rebuild. However, after initial faithfulness in
  rebuilding the walls of Jerusalem and beginning work on the temple, the people had now left off that work. Instead,
  they were focusing on their own concerns. Through the prophet Haggai, the Lord calls upon them to consider their
  ways.
  <%= link_to 'Continue reading...', articles_one_path %></p>
</div>
<div class="post-box article">
  <h1>The Book of Ruth</h1>
  <h2>The Story Of Naomi</h2>
  <br />
  <p>Ruth is an inspired story, one of the historical books of the Old Testament.
  When reading stories it is helpful to be aware of the features normally found in them. 
  The beginning usually provides some background information so the reader can understand the context of what is going to happen. 
  Next, the author builds the plot, which is usually centered on a goal to be achieved or problem to be solved. Then the plot complications make the story more interesting. The climax comes next, in which the goal is achieved or the problem solved. Then follows the resolution which includes the results and implications of that resolution. In the process of telling the story, the author uses techniques to create interest, heighten emotion, and color the story while drawing attention to the main character and the plot. Let's consider some of these features in the Book of Ruth, focusing on the way the unknown author identifies the main character and presents the point he is trying to convey to the reader.
  <%= link_to 'Continue reading...', articles_two_path %></p>
</div>