<div class="post-box article">
  <div class="dld-button">
    <%= link_to 'Download PDF', '/Haggai_A_Matter_of_Priorities.pdf', download: '', class: 'btn btn-warning' %>
  </div>
  <div>
    <h2>HAGGAI<br />
    A MATTER OF PRIORITIES</h2>
    <br />
    <p>The short prophecy of Haggai was given by God around 520 B.C. Earlier in that century, as a result of
    their disobedience and faithlessness toward the Lord, Israel had been taken captive into Babylon. Some years later,
    by God’s grace, a remnant was allowed to return to their land and rebuild. However, after initial faithfulness in
    rebuilding the walls of Jerusalem and beginning work on the temple, the people had now left off that work. Instead,
    they were focusing on their own concerns. Through the prophet Haggai, the Lord calls upon them to consider their
    ways.</p>
    <h3><b>Your House vs. My House</b></h3>
    <p>To properly appreciate the message of Haggai it is important to understand both the connotation of the term
    “house” and the significance of “the house of the Lord.”</p>
    <h3><i>“House” and Its Connotation</i></h3>
    <p>The Hebrew term translated “house” (<i>bayit</i>) is used in a variety of senses in the Old Testament. Of course,
    a very common usage is the meaning we ascribe to it in English, namely, a building in which one lives. However, it
    would be a great mistake to understand this English connotation as its primary usage throughout Scripture. For
    example, its first occurrence is in connection with Noah’s ark and refers to “inside” in contrast to “outside” (Gen
    6:14). Its next appearance introduces a common usage throughout the Old Testament, namely, reference to the
    members of one’s household (Gen 7:1; 12:1, 16; 24:28; etc.). Another widely used meaning of “house” is abstract in
    nature and seems to refer to all that pertains to someone. For example, it refers to a sphere of influence (servants
    were born into Abraham’s house [Gen 14:14], Abraham had a steward of his house [Gen 15:2], a son of his house
    [Gen 15:3], and had children born into his house in contrast to coming into his house by acquisition [Gen 17:12-13,
    23, 27]). This abstract usage is also commonly applied to wealth and possessions (e.g., Gen 31:14; Pss 36:9; 49:10-
    11, 16; 105:21), and associated with security and stability (e.g., Prov 12:7; 14:1, 11; 15:25; 24:3). These abstract
    concepts of “house” continue into the New Testament Greek as well with curses or blessings being placed upon
    one’s house (Matt 10:13) and a house divided against itself having no stability (Mark 3:25).</p>
    <p>Since Haggai deals heavily with the concept of “house” in reference to both the Lord and the people, it is
    important to be aware of these various connotations and to understand its usage in this particular prophecy. That is,
    one must ask whether, in referring to the people’s houses, is the Lord alluding to the physical buildings in which
    they live, their households, the more abstract concept of their possessions and security, or possibly even a
    combination?</p>
    <h3><i>House of the Lord</i></h3>
    <p>The significance of the <i>Lord’s</i> house is also important in the prophecy of Haggai. Although the expression
    is commonly used in Scripture and clearly refers to the temple, there is a tendency to merge its significance and
    associations with that of the tabernacle. In that both the temple and the tabernacle are associated with the presence
    of the Lord among his people and serve as the location of worship, this approach is appropriate. However, a closer
    study reveals that, in spite of their similarities, the temple and tabernacle are each associated with different
    theological ideas. The tabernacle, created at the initiative of God and from outward appearance quite drab, is
    directly and explicitly presented as the means by which God moved in the midst of his people (cf. Exodus 25–40).
    The temple, on the other hand, constructed as a result of <i>human</i> (vs. divine) motivation and remarkable in its
    outward beauty and ornate design (vs. the drab tabernacle exterior), is associated with the valuation which God’s
    people place upon him and the testimony of that valuation to the nations.</p>
    <p>In order to more clearly understand the theological ideas associated with the temple it helps to briefly
    consider how it came into existence. In 2 Samuel 7, when he comes up with the idea of building a house for the
    Lord, David’s primary concern seems to involve the glory of his physical house in contrast to that of the tabernacle
    (v. 2). Specifically, he appears to be somewhat ashamed that he dwells in a <i>house of cedar</i> while the Lord dwells in
    the midst of curtains.</p>
    <p>It should be noted that David, in addition to addressing these respective structures, focuses on the <i>function</i>
    of a house as a dwelling place by continually using the term “to dwell.” However, when the Lord responds to David
    through the prophet Nathan, he does not seem to share David’s concerns. Although he, too, focuses on the same two
    issues, namely “a house” and “dwelling,” he reveals that he has a different perspective. First, the Lord questions the
    entire idea of David building him a <i>house</i> in which to <i>dwell</i>. He states that, since he has been among his people (i.e.,
    since the exodus from Egypt) he has not <i>dwelled</i> in a house but has rather <i>moved about</i> (notice, not <i>dwelled</i>) in a
    tent and a tabernacle (rather than a <i>house</i>). In all that time, in his moving about (not <i>dwelling</i>), he never asked
    anyone to build him a <i>house</i> of cedar. By his explicit statements and his choice of words the Lord seems to be
    making two related points. First, he has not asked for a house, and second, his activity in relationship to a habitation
    is to be understood as “moving about” among his people rather than “dwelling.”</p>
    <p>After questioning the whole idea in general, the Lord proceeds to discuss its details a little more in depth.
    Although he takes up David’s concern regarding a house and a dwelling, rather than David doing these things for
    the Lord, he clarifies that it will be the other way around. The Lord will prepare a dwelling place for his people (v.
    10) and will establish a house for David (v. 11). However, it is important to notice that in stating his intention it
    becomes apparent that, unlike David, the Lord is not concerned with a literal, physical house. That is, as he
    responds to David’s intention to build him a literal house, the Lord moves the discussion from the topic of a
    physical house to the more abstract concept of all that pertains to a householder and that reflects both his prosperity
    and security.</p>
    <p>In spite of this difference in perspective, namely, the Lord being the one to build a house and a dwelling,
    and his concern for the abstract ideas rather than physical building, the Lord returns again to David’s desire to build
    him a house. He states that, after David is gone, a house <i>will</i> be built, but it will be built by David’s seed rather than
    by David himself. However, since reference to a house being built follows upon the Lord’s moving the subject from
    the idea of a physical house to the more abstract concept of prosperity and security, it is probably best to understand
    that the Lord is continuing to speak of this latter aspect of “a house.” That is, when the Lord states that David’s seed
    will build the Lord’s house, he is probably referring, at least in part if not primarily, to abstract concept rather than a
    physical building. That this meaning is intended by the Lord is indicated by the fact that he clarifies that the house
    of which he speaks will not be for him to <i>dwell</i> in, as David had suggested, but will rather be a testimony to him in
    that it will be “to his name” (v. 13).</p>
    <p>In summary, although David speaks about a physical house for the Lord’s dwelling, the Lord moves the
    conversation to the abstract idea of prosperity and security. When applying this abstract idea of a house to himself
    he specifically presents its purpose as a testimony to all that he is and stands for (“to his name”). This understanding
    of 2 Samuel 7 seems to be reinforced by the subsequent presentation of Solomon’s dedication of the temple. In 1
    Kings 8 Solomon confesses that the Lord cannot be confined to a house (v. 27) but rather <i>dwells</i> in the heavens (vv.
    30, 36, 43), implying that the temple is not primarily for the Lord’s habitation. Rather, as with the Lord in 2 Samuel
    7, the emphasis at the dedication seems to be on the function of the temple as a testimony to his name (cf. v. 29), not
    only for Israel but also for all nations. Therefore, the theological ideas associated with the temple—the Lord’s
    house—do not seem to allude primarily to a physical house where he dwells but rather the establishment of and
    testimony to all that the Lord is, stands for, and represents. Further, since the temple was created as the result of
    human motivation (David’s desire), it is directly associated with a testimony which derives from the appreciation of
    the Lord by his people rather than from the Lord personally declaring his own glory as he does elsewhere (e.g.,
    Deuteronomy 32, Isaiah 40–48).
    <h3><b>The House Issue in Haggai’s Day</b><br />
    <i>The Problem</i></h3>
    <p>This significance of the Lord’s house was certainly not lost on the people to which Haggai prophesied.
    First, being much closer than us to the original establishment of the temple they probably understood its connection
    with the testimony of the Lord. Additionally, their recent experience in being taken captive into Babylon had served
    as an occasion for the Lord to reaffirm to them the fact that his dwelling in their midst was not inextricably tied to
    the temple since the glory of the Lord not only appeared among his people apart from the temple but even outside
    the land of Israel (Ezekiel 1). Then, in their even more recent history, their return to the land was centered around
    the human motivation to restore a testimony to the Lord (Ezra). Thus, the people to whom Haggai prophesied were
    well aware that the primary significance of the temple was that it proclaimed the Lord to the nations through their
    own appreciation of him.</p>
    <p>Given this awareness of the significance of the temple, the people clearly understood the point which the
    Lord was making through Haggai. First, as anyone reading the text even today would realize, the Lord was drawing
    a contrast between their houses and his house. His house lay waste while their houses were apparently in quite good
    condition. In addition to this <i>explicit</i> comparison, the Lord also makes an <i>implicit</i> comparison by using the term
    “paneled.” This word draws attention to the contrast between the Lord’s house and those of the people in that this
    unusual Hebrew term is used in Kings to describe both the opulence of the temple and of Solomon’s houses (1 Kgs
    6:9, 15; 7:3, 7). That is, at that earlier time in Israel’s history, <i>both</i> the house of the Lord <i>and</i> the house of the king
    could be described in that manner. However, now only the <i>people’s</i> houses can be so depicted. Something was
    wrong!</p>
    <p>Additionally, it was clear to the people that the Lord was not simply concerned with the comparison
    between the condition of the respective physical houses. Just as he did with David in 2 Samuel, the Lord uses the
    concern with literal houses for the purpose of alluding to the abstract concept of prosperity and well-being (in
    Hebrew often called <i>shalom</i>). This becomes evident when, in verse 6, the Lord refers to the overall prosperity of
    the people (i.e., the abstract concept of “house”) and then, in verse 9, explicitly associates their problems in
    connection with their prosperity with the term “house.” That is, just as he did with David, the Lord moves the
    discussion from physical houses to that with which he is more concerned, namely, <i>shalom</i>.</p>
    <p>The fact that the condition in which they had left the temple was a reflection on their own appreciation of
    him was also evident to the people. But if they didn’t get the point on their own, the Lord certainly made it clear to
    them through Haggai’s message. From the outset the actual problem raised by the Lord is not the <i>condition</i> of his
    house but rather the <i>valuation</i> placed upon it by the people. That is, even though they say that it is not the proper
    time to restore the temple (v. 2), this in itself is not the real issue. Rather, the real issue is that all the while they say
    it is not the time to work on the things which pertain to the Lord and his testimony they are devoting their time and
    energies to <i>their own</i> things (v. 4). In short, they are content to let the Lord’s house lie waste while making sure
    that their own houses are not simply in good shape but lavishly decorated (“paneled”).</p>
    <p>In essence, therefore, the problem which the Lord addresses with the people is that they are devoting their
    time and energies to their own prosperity and welfare and neglecting him. Even the intensity which they are
    devoting to their own things is evident in the words of the Lord’s rebuke. The diligence of their efforts are noted by
    the unusual expression “running to their houses.” By using this phrase the Lord draws attention to the vigor with
    which they were addressing their own interests. Thus, they are devoting their time and energies more to their own
    prosperity and welfare than to the things of the Lord.</p>
    <h3><i>They Should Have Known</i></h3>
    <p>Not only are the priorities of the people misplaced, but the Lord tells them that they should have
    understood what was happening. He explains that the lack of blessings upon their own houses—the very thing to
    which they were devoting so much time and energy—should have signaled them that a problem existed. In
    Deuteronomy the people are specifically told that obedience would result in material blessings in the land whereas
    disobedience and neglect of the Lord would bring about a loss of those blessings. The lack which they had been
    experiencing reflected what Scripture had promised them would occur if they did not wholly follow the Lord.
    Therefore, knowing the teachings of the Torah, <i>at the very least</i> the people should have questioned whether there
    was a relationship between their present want and the divine warnings of the covenant. In fact, this is the point the
    Lord is drawing to their attention with the twice repeated exhortation, “Consider your ways.” In today’s language he
    is saying, “Think about what you’re experiencing! Don’t you realize what’s happening?” (See also 2:17.)</p>
    <p>Of course, even if the people considered what they were experiencing, they could certainly have
    rationalized that their lack of prosperity was simply the normal ebb and flow of life. As everyone knows, there are
    periods in life where things go well and there are times when things go poorly. However, the Lord leaves no room
    for such a conclusion. In verse 9 he makes it very clear that the problems they are experiencing are not simply the
    “stuff” that happens in life but rather the direct result of his undermining their efforts. No matter how hard they try
    to secure their own blessings and prosperity the Lord is “blowing” upon it. The irony of the whole matter is that the
    harder they try, the more the Lord undermines their work. And to make sure there is no confusion regarding the
    reason for what he is doing to them, the Lord explicitly tells them that it is because they are “running” to their own
    houses while his house lies waste.</p>
    <h3><i>Self-Sufficiency</i></h3>
    <p>It is interesting to notice that the people are trying to obtain through their own efforts the very blessings
    which the Lord promises to provide as a gift. In Deuteronomy Israel was promised agricultural prosperity if they
    loved the Lord their God with all their heart and obeyed him (e.g., Deuteronomy 28). No mention was made of
    excessive work required on their part. Rather, it was the blessing of the Lord which would produce their prosperity.
    However, here in Haggai the Lord draws the people’s attention to the vanity of their diligent efforts to secure those
    blessings on their own. Although they sowed much, the result of that effort was that they brought in little. They ate,
    drank, clothed themselves, and attempted to build up financial reserves—all to no avail. They were working hard to
    acquire the very prosperity which the Lord had promised to give them as a blessing. The irony is that the more they
    tried to obtain that blessing the more it slipped away. In their attempts to secure the blessings they neglected the
    very one who promised to bestow those blessings.</p>
    <h3><i>Fear</i></h3>
    <p>There is no misunderstanding the reaction of the people. Once they heard the word of the Lord they knew
    exactly what was going on. They should have realized it before, but now that the Lord had confronted them with it
    they were all too clear about what was happening. They also realized the disastrous implications. Earlier in that very
    century, and even experienced by some in their midst, Israel was taken captive and removed from the land of
    promise and placed them into captivity because of their neglect of the Lord. However, after many years in captivity
    the Lord had restored them to the land. But now the Lord was directly confronting them with the fact that they were
    once again on the path that originally led to their demise. They fully realized this and, of course, they were afraid!
    Now it must be understood that this is <i>not</i> the reverential fear which is commonly praised throughout the Scriptures.
    The Hebrew text says literally, “they feared from the face of the Lord.” The expression “fearing from” denotes
    outright terror, not reverential awe. They were “scared stiff.” They were “on thin ice” and they knew it.</p>
    <p>However, once again the Lord demonstrates his graciousness and mercy. In a direct response to the fear of
    the people he sends another word to them through Haggai: “I am with you.” His confrontation of them was not an
    irrevocable decree of judgment. Rather, it was a corrective measure and was accompanied with the assurance that he
    was with them. He was looking to bring their focus back on himself and away from their own concerns. He would
    take care of those concerns far better than they were able to do if only they would depend on him and focus on
    displaying his glory to the nations.</p>
    <h3><b>Reflections</b><br />
    <i>Contentment</i></h3>
    <p>The problem which the people of Israel experience in Haggai does not seem to be famine or want, but
    rather a lack of satisfaction and fulfilment, and an inability to achieve expectations and goals. There isn’t a lack of
    seed or produce, just not enough. They eat—they just are not satisfied. They apparently have enough to drink, but
    their thirst is not quenched. They have clothing, but it doesn’t seem to warm them. They earn money and put it into
    savings (a bag), but it disappears. In chapter 2 they have storage, but somehow it drastically diminishes. Thus,
    although their focus is on security and prosperity, their goal is elusive.</p>
    <p>This characterization of the people’s situation should certainly cause us to draw a parallel with ourselves
    today. The world focuses its time and energies upon securing its own welfare and contentment. Unfortunately, we
    as Christians are not very different. Although believers may not be as deceived as the world about the security of
    “things,” a close scrutiny of where we spend our time and energies reveals that the same root issue is at work. It is
    so easy to convince ourselves that we value the things of the Lord. We even want to spend our lives in service to
    him. However, our present responsibilities to provide for our own things—family, bills, etc.—seem to eat up all of
    our time and energy. Once things become a little more stabilized, we tell ourselves, we’ll focus more on service to
    the Lord. However, the reality is that things never become more stabilized, no matter how hard we try. With this as
    our situation we need to ask, as ancient Israel should have done: Is something wrong? The answer is “yes.” The
    Lord calls upon his people to devote their time and energies to him and his things. To those who do so he promises
    to take care of them, providing the joy, peace and contentment which they are trying to obtain through their own
    efforts by the acquisition of material security.</p>
    <h3><i>Prosperity</i></h3>
    <p>It is important to notice that the problem addressed by the Lord through Haggai was not some type of
    “positive” evil. This time the people were not, as mentioned by both Ezra and Nehemiah, mixing inappropriately
    with the world. Using today’s imagery, they were not partaking in illicit sexual exploits, abusing alcohol and drugs,
    cheating in business, etc. They simply were devoting their time and energies to securing the welfare of themselves
    and their families. The problem was not, as in the case of Laodicea (Revelation 3), lukewarmness. There is no
    evidence that they were not genuinely concerned about the things of the Lord. The fact that the people said that it
    was not the proper time to rebuild the temple shows that they had concern for the Lord and his things. Rather they
    simply did not think the timing was right. Regardless of what made that timing inappropriate in their eyes, the
    difficulty was that it did not deter them from building and decorating their own houses. Thus, the essence of the
    problem is the people’s focus upon their own prosperity which, in turn, left no time or energy to devote to the Lord
    and his testimony. Again, this is very characteristic of us today.</p>
    <h3><i>Priorities</i></h3>
    <p>Another indication that the Lord’s primary concern was the priorities of the people is reflected in the nature
    of his promise regarding their future work on the temple. He promises that, if they work on his house he will take
    pleasure in it and will use it to glorify himself (1:8). There is no reference whatsoever to what condition or state of
    repair must be achieved, only the requirement to devote their efforts toward the Lord and his things. In fact, later he
    encourages them when they are obviously discouraged by the sad result of their work, at least when compared to the
    glory of the temple in Solomon’s day (see 2:3-5). However, regardless of the outward results, the Lord promises to
    glorify himself simply if they properly focus their time and energies on him and his things. That is, the Lord’s house
    being a testimony of him to the world was not so much related to the effectiveness of the people’s efforts, but rather
    the evidence of their God-centered priorities. By his grace he would take up that appreciation and use it for his
    glory. In this we learn that we should not wait to serve the Lord until it appears that our efforts will produce results.
    Rather, he calls us to work now, trusting him to use our meager efforts for his glory.</p>
    <h3><i>Blessings</i></h3>
    <p>A final emphasis on the matter of priorities is that, once the people respond to the Lord, he makes it very
    clear that he will turn their situation. In chapter 2:15-19 there appears to be a strong emphasis by the Lord upon
    calling the people to consider how things are about to change. “Consider” is repeated three times, and the point of
    change is repeatedly presented (e.g., “from this day” or “from the day which . . .”), all in relation to their beginning
    to devote their time and energies to his testimony rather than their own things. Further, not only does the Lord tell
    them that things are going to change since they have straightened out their priorities, he calls upon them to mark this
    day. Watch! Take careful note! See that <i>now</i> I’m going to bless you! The point is not only that things are now going
    to be different, but the Lord emphasizes the <i>basis</i> for that difference: they have straightened out their priorities.
    Now that the people are devoting their time and energies to the Lord rather than worrying about their own things,
    the Lord will, as he has promised, come in and bless them, abundantly showering upon them the things which they
    have tried to achieve by their own efforts. One wonders what would be the result in our own lives if we took the
    Lord at his word and devoted or time and energies to him rather than to ourselves. The prophecy of Haggai seems to
    argue that blessing would result.</p>
    <h3><i>“Prosperity Gospel”?</i></h3>
    <p>The irony of the teaching of Haggai, and occurring other places throughout Scripture, is that the more we
    devote our time and energies to the Lord and his things, the more he blesses us. In contrast, the more we devote
    ourselves to obtaining those blessings on our own, the more they elude us. It is only as we allow him to determine
    what is best for us, in faith obeying, that we will receive the blessings of joy and peace which he has promised.
    This reality is totally illogical to the mind set of the world. It makes no sense that we must forsake all efforts at
    securing our own welfare in order to secure it. But, this is the teaching of Scripture.</p>
    <p>But what is this “welfare” which we are talking about? Does it mean that if one focuses on the Lord and his
    things then he will be “healthy, wealthy, and wise?” Not at all. That is not the prosperity which the Lord is speaking
    about, even to Israel. As discussed above, the problem in their case does not seem to be famine or want, but rather
    lack of satisfaction, contentment, fulfilment, inability to achieve expectations and goals. It is apparent that the
    shortage they are experiencing is a lack of a sense of well-being which they think will come from the accumulation
    of material things.</p>
    <p>In spite of the fact that the subject in Haggai relates to contentment rather than provision of material
    blessings, in ancient Israel material blessings were, in fact, the explicitly promised evidence of divine blessing.
    However, that is not the case for Christians in this current age. Through Jesus Christ we are blessed with spiritual
    blessings (Eph 1:3), and repeatedly promised joy and peace as we go through life (e.g., John 15:11; Rom 14:7;
    15:13; Gal 5:2; Phil 4:7; etc.). Therefore, while the Israelites could recognize the Lord’s blessing through material
    things, Christians are to know that blessing through spiritual blessings, particularly joy and peace. <i>That</i> is the
    welfare which we should be expecting in our lives. <i>That</i> is the welfare which, when absent, should cause us, like
    Israel, to “consider” and ask if something is wrong.</p>
    <p>Thus, although working itself out in a somewhat different manner, the message which the Lord had for
    Israel in Haggai’s day is the same message which he has for believers today. He calls upon us to obey and serve him
    and, if we do so, he promises to bless us and abundantly provide for our welfare, that is, our joy and peace.</p>
    <h3><i>Cautions</i></h3>
    <p>One must point out some potential misunderstandings regarding this truth. First, trusting the Lord to
    provide for our welfare does not mean that we can neglect personal responsibility. What it does mean is that our
    primary responsibility is to serve the Lord rather than providing for our own security. In fact, serving the Lord
    generally displays itself in the godly fulfilment of day-to-day responsibilities, such as a man providing for his own
    (e.g., 1 Tim 5:8), or a mother and wife taking care of children and the home (Titus 2:4-5). However, it is important
    that even these responsibilities be met as conscious service to the Lord rather than as providing for self. Now, it is
    difficult at times to know whether activities such as these are for the Lord or for ourselves. For example, Christians
    frequently devote a great deal of time and energy to the spiritual welfare of their families, and particularly their
    children. However, frequently such concerns are self-centered and self-motivated in that personal glory or selfworth
    is often found in the manner in which children conduct themselves. This type of focus is building one’s own
    house. However, the same time and energy can be spent on the same things, e.g., the spiritual welfare of one’s
    children, but done out of concern for the interests of the Lord rather than personal interests. This latter focus is
    building <i>the Lord’s</i> house.</p>
    <p>There is another potential caution regarding the idea that we should serve the Lord and let him handle our
    welfare. Trusting God to take care of one’s house does not mean sitting back and coasting through life, doing
    nothing. One’s time and energy is to be devoted to the Lord and his things, whatever that may mean in each
    individual’s life. That is, the Lord does not provide for our welfare so that we can pursue our own leisure and
    enjoyment. Rather, he blesses the one who devotes time and energies to him, providing abundantly for the needs
    which that one, if devoted to himself, would be spending all of his efforts trying meet.<p>
    <h3><i>Faithfulness &amp Dependence</i></h3>
    <p>From our human perspective, this tells us that God’s blessing is relative to our faithfulness. But one must
    understand that this means <i>true</i> faithfulness and dependence upon God—not a cheap imitation for the purpose of
    eliciting his blessing. Conducting ourselves in a particular manner for the purpose of causing God to respond in a
    particular way is actually a subtle and deceitful means of our attempting to control God. By doing this many
    Christians treat God as their vehicle to get whatever they want. But that couldn’t be further from the real meaning of
    <i>true</i> faithfulness and dependence. The latter is trusting God with our welfare. That means that we don’t even attempt
    to decide for ourselves what is in our best interests. We leave that in God’s hands. Our concern is to love and serve
    him, trusting him to provide that joy and peace in believing which he has promised. If he leads into poverty for his
    glory, we realize that in that poverty we will find that joy and peace. If he allows poor health or even death, we
    realize that it will still be “okay” because he will provide satisfaction and contentment in that condition to an extent
    which we would never experience otherwise. Truly trusting God means realizing that we will experience the
    greatest joy and contentment and even the lightest burden when we allow him to decide what is in our best interests
    and devote our time and energies to him.</p>
  </div>
</div>