<h1>Courses information</h1>
<div>
  <% if current_user.try(:admin?) %>
    <%= link_to 'New Course', new_course_path, class: 'btn btn-danger' %>
  <% end %>
</div>
<br />
<% @courses.each do |course| %>
  <div class="blog-box">
    <h2><%= course.title %></h2>
    <br />
    <p><%= raw course.body %></p>
  </div>
<% end %>
