<h1>Blog</h1>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Post', new_post_path, class: 'btn-warning' %>
<% end %>

<% @posts.each do |post| %>
  <h1><%= post.title %></h1>
  <br />
  <p><%= post.body %></p>


<% end %>