<h1>Blog</h1>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-warning' %>
<% end %>

<br />

<% @posts.each do |post| %>
  <div class="post-box">
    <h1><%= link_to post.title, post_path(post) %></h1>
    <br />
    <%= raw post.body %>
    <p class="text-right"><i><%= post.user.name %></i></p>
  </div>

<% end %>