<div class="post-box">

  <h1><%= @post.title %></h1>
  <br />
  <%= raw @post.body %>
  
  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit this post', edit_post_path(@post), class: 'btn btn-warning' %>
  <% end %>
</div>