@import 'bootstrap';




body {
  background-color: #8FAB85;
  /*font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;*/
}
p {
  font-family: Garamond;
}
h1 h2 h3 {
  font-family: Garamond;
}
.top-brand {
  background-color: #0A2D4D;
}
a.brand {
  color: #9BCFE0;
}
.brand {
  font-size: 30px;
  margin-left: 15px;
}
.navbar {
  background-color: #0A2D4D;
}
.page-container {
  max-width: 90%;
  margin-left: 5%;
}
.temp-scroller img {
  max-width: 80%;
}

.general-box {
  background-color: #DDF2D5;
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 4em 20px 4em;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); 
  transition: box-shadow .3s ease;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 8em;
  margin-right: 8em;
}
.blog-box {
  background-color: #DDF2D5;
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 4em 20px 4em;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); 
  transition: box-shadow .3s ease;
  margin-top: 15px;
  margin-bottom: 25px;
}
.blog-menu-box {
  background-color: #DDF2D5;
  border-radius: 5px;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 4em 20px 4em;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); 
  transition: box-shadow .3s ease;
  margin-top: 15px;
  margin-bottom: 25px;
  min-height: 200px;
}
.blog-menu {
}
.article p {
  text-indent: 2.5em;
  text-align: left;
}
.dld-button {
  text-align: right;
}
.end-notes {
  margin-top: 3em;
  font-size: 11px;
  text-align: left;
  margin-left: 3em;
  margin-right: 3em;
}